// Copy this file to environment.local.ts and fill in your values.
// Request credentials from the project author or create your own Google OAuth Desktop app.
export const environment = {
  production: false,
  apiUrl: 'https://localhost:7001',
  auth: {
    issuer: 'https://accounts.google.com',
    clientId: 'YOUR_GOOGLE_CLIENT_ID',
    clientSecret: 'YOUR_GOOGLE_CLIENT_SECRET'
  },
};
